[submodule "puera/libs/CLI11"]
	path = puera/libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "puera/libs/genesis"]
	path = puera/libs/genesis
	url = https://github.com/lczech/genesis.git
